<md-toolbar color="primary">
    <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_horiz</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item>
          <md-icon>home</md-icon>
          <span>Home</span>
        </button>
        <button md-menu-item>
          <md-icon>layers</md-icon>
          <span>Flood Maps</span>
        </button>
        <button md-menu-item>
          <md-icon>account_box</md-icon>
          <span>Login</span>
        </button>
    </md-menu>
  <span class="title">Global Flood Map Database</span>
</md-toolbar>