<app-toolbar></app-toolbar>
<div class="content">
  <md-grid-list cols="9" rowHeight="fit">
    <md-grid-tile colspan="6" rowspan="6">
      <app-map></app-map>
    </md-grid-tile>
    <md-grid-tile colspan="3" rowspan="6">
      <app-controls></app-controls>
    </md-grid-tile>
    <md-grid-tile class="chart" colspan="6" rowspan="3">
      <app-chart></app-chart>
    </md-grid-tile>
    <md-grid-tile class="table" colspan="3" rowspan="3">
      <app-table></app-table>
    </md-grid-tile>
  </md-grid-list>
</div>
